$def with(n)

<!doctype html>
<title>gbif.no resolver</title>
<link rel='stylesheet' type='text/css' href='/static/resolver.css'>
<div id='search'>
<h1>gbif.no resolver</h1>
<form method='get'>
<input id='id' name='id' placeholder='Identifier' type='text'>
</form>
<script>document.getElementById('id').focus()</script>

<p><i>$n records</i>

<p>
  <a href="58c84deb-4d82-46e3-a109-527b2bac3d69">urn:uuid:58c84deb-4d82-46e3-a109-527b2bac3d69</a>
  <a href="00b798d1-09cf-4571-b56a-06455b5de271">urn:uuid:00b798d1-09cf-4571-b56a-06455b5de271</a>

