$def with (key, record, prefixed, grouped)
<!doctype html>
<title>gbif.no resolver - %s</title>
<meta name='viewport' content='initial-scale = 1.0,maximum-scale = 1.0' />
<link rel='stylesheet' type='text/css' href='/static/resolver.css'>
<p class='formats'>

html
<a href='/resolver/${key}.csv'>csv</a>
<a href='/resolver/${key}.txt'>txt</a>
<a href='/resolver/${key}.n3'>n3/turtle</a>
<a href='/resolver/${key}.json'>json-ld</a>
<a href='/resolver/${key}.rdf'>rdf</a>

<h1>$key</h1>

$for group, terms in grouped.iteritems():
  $if terms and len(terms) > 0:
    <h2>$group</h2>
    <table>
    $for term,value in terms.iteritems():
      $if term.startswith("_"):
        $continue
      $if not value:
        $continue
      $if group != 'other':
        <tr><th><a href='http://rs.tdwg.org/dwc/terms/$term'>$term</a></th>
      $else:
        <tr><th>$term</th>
      $if value.startswith("http://") or value.startswith("https://"):
        <td><a href='$value'>$value</a>
      $else:
        <td>$value</td>
    </table>

$if record.get('_updated'):
  <div id='meta'>
    <p><b>Updated:</b> $time(record.get('_updated'))
  </div>

